## Import

In [1]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import investpy
import datetime
import os

## Load data

In [2]:
data_path = os.getcwd() + "\\datasets\\"

In [3]:
df_krx = fdr.StockListing('KRX')
df_krx.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,김세완,http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [4]:
df_krx = fdr.StockListing('KRX')

In [5]:
symbol_list = df_krx.Symbol.unique()

In [6]:
def change_name(symbol, df):
    output = df.loc[df.Symbol == symbol, 'Name'].values[0]
    return output

def make_df(name, df):
    temp_df = pd.DataFrame(df.Close)
    temp_df.columns = ['{}_Close'.format(name)]
    return temp_df.reset_index()

In [7]:
symbol = symbol_list[0]
df = fdr.DataReader(symbol)
name = change_name(symbol, df_krx)

In [75]:
start_idx = 0
#start_idx = 4542

In [77]:
for idx, symbol in enumerate(symbol_list[start_idx:]):
    try:
        df = fdr.DataReader(symbol)
        
    except ValueError:
        start_idx += 1
        continue
        
    if df.shape[0] == 0:
        start_idx += 1
        continue
        
    name = change_name(symbol, df_krx)
    
    if start_idx == 0 :
        stock_df = make_df(name, df)
    else:
        temp_df = make_df(name, df)
        stock_df = pd.merge(stock_df, temp_df, on ='Date', how = 'outer')
    
    start_idx += 1
    
stock_df = stock_df.sort_values("Date")

In [83]:
stock_df.to_csv(data_path + "stock_df.csv", index = False)

In [93]:
stock_df.head()

,Date,3S_Close,AJ네트웍스_Close,AK홀딩스_Close,APS홀딩스_Close,AP시스템_Close,AP위성_Close,ARIRANG 200_Close,ARIRANG 200동일가중_Close,ARIRANG 200선물레버리지_Close,...,흥국화재우_Close,흥아해운_Close,희림_Close,히어로즈 TDF2030액티브_Close,히어로즈 TDF2040액티브_Close,히어로즈 TDF2050액티브_Close,히어로즈 글로벌리츠이지스액티브_Close,히어로즈 단기채권ESG액티브_Close,히어로즈 리츠이지스액티브_Close,힘스_Close
6580,1994-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6581,1994-03-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6582,1994-03-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6583,1994-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6584,1994-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* 예외 케이스

In [86]:
'''
except_symbol = []
except_name = []

for idx, symbol in enumerate(symbol_list[2091]):
    try:
        df = fdr.DataReader(symbol)
        
    except ValueError:
        name = change_name(symbol, df_krx)
        except_symbol.append(symbol)
        except_name.append(name)
        
    if df.shape[0] == 0:
        except_symbol.append(symbol)
        except_name.append(name)

np.save("except_symbol.npy", except_symbol)
np.save("except_name.npy", except_name)
'''

* date setting

In [4]:
start_day = '01/01/2006'
end_day = datetime.datetime.today().strftime("%d/%m/%Y")

* etfs

In [12]:
etf_lists = pd.DataFrame(investpy.get_etfs_dict())
etf_df = etf_lists.loc[etf_lists.country == "south korea"]

* fund

In [104]:
indices_df = pd.DataFrame(investpy.get_indices_dict())

In [105]:
indices_df.loc[indices_df.country == "south korea"]

,country,name,full_name,symbol,currency,class,market
3892,south korea,F-LKTB Inverse,F-LKTB Inverse,FLKTBINV,KRW,other_indices,world_indices
3893,south korea,F-LKTB Index,F-LKTB Index,FLKTB,KRW,other_indices,world_indices
3894,south korea,F-KTB Inverse,F-KTB Inverse,FKTBINV,KRW,other_indices,world_indices
3895,south korea,F-KTB Index,F-KTB Index,FKTB,KRW,other_indices,world_indices
3896,south korea,KRX Transportation,KRX Transportation,KRXTRANS,KRW,other_indices,world_indices
...,...,...,...,...,...,...,...
4002,south korea,KQ IT Software,KOSDAQ IT Software,KQ42,KRW,primary_sectors,world_indices
4003,south korea,KQ IT Components,KOSDAQ IT Components,KQ48,KRW,primary_sectors,world_indices
4004,south korea,KQ Internet,KOSDAQ Internet,KQ40,KRW,primary_sectors,world_indices
4005,south korea,KQ Vehicles Components,KOSDAQ Vehicles Components,KQ32,KRW,primary_sectors,world_indices
4006,south korea,KOSPI 200 Steels & Materials,KOSPI 200 Steels & Materials,KS200STL,KRW,primary_sectors,world_indices

In [6]:
primary_indices = indices_df.loc[(indices_df.country == 'south korea') & ((indices_df['class'] == 'major_indices') | (indices_df['class'] == 'primary_sectors'))]
primary_indices.head()

,country,name,full_name,symbol,currency,class,market
3950,south korea,KQ Distribution,KOSDAQ Distribution,KQ19,KRW,primary_sectors,world_indices
3951,south korea,KQ Construction,KOSDAQ Construction,KQ14,KRW,primary_sectors,world_indices
3952,south korea,KQ Computer Services,KOSDAQ Computer Services,KQ43,KRW,primary_sectors,world_indices
3953,south korea,KQ Computer Hardware,KOSDAQ Computer Hardware,KQ46,KRW,primary_sectors,world_indices
3954,south korea,KQ Chemical,KOSDAQ Chemical,KQ25,KRW,primary_sectors,world_indices